<% content_for :page_title do -%>Editing Profile &amp; Preferences<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <h1>Editing <%= "#{@user.nickname}'s" -%> Profile &amp; Preferences</h1>
</div>
<% end -%>

<div class="row">
  <div class="span11 pull-left">
  <%= form_for @user, {:url => user_path(@user) } do |user_form| -%>
  <%= user_form.error_messages :header_tag => :h4, 
                   :header_message => "The following issues kept the profile from being saved:", 
                   :message => nil,
                   :class => "alert-message block-message error" -%>
    <fieldset>
      <legend>User Profile</legend>
      <div class="clearfix">
        <%= label_tag(:user_nickname, "Nickname *") -%>
        <div class="input">
          <%= user_form.text_field :nickname, {:maxlength => 32, :class => "span5"} -%>
          <span class="help-block">32 characters max length.</span>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <%= label_tag(:user_nickname, "Picture") -%>
        <div class="input">
          <%= image_tag(@user.picture(50)) -%>
          <span class="help-block">Change your picture at <a href="http://www.gravatar.com/">gravatar.com</a>.</span>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
      <%= label_tag(:user_website, "Web Site") -%>
        <div class="input">
          <div class="input-prepend">
            <span class="add-on">http://</span>
            <%= user_form.text_field :website, {:maxlength => 64, :class => "span5", :placeholder=>"domain/page"} -%>
          </div>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix">
        <%= label_tag(:user_twitter, "Twitter") -%>
        <div class="input">
          <div class="input-prepend">
            <span class="add-on">@</span>
            <%= user_form.text_field :twitter, {:maxlength => 15, :class => "span3", :placeholder=>"accountname"} -%>
          </div>
        </div> 
      </div>
      <div class="clearfix">
        <%= label_tag(:user_linkedin, "LinkedIn") -%>
        <div class="input">
          <div class="input-prepend">
            <span class="add-on">http://www.linkedin.com/</span>
            <%= user_form.text_field :linkedin, {:maxlength => 50, :class => "span5", :placeholder=>"page"} -%>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag(:user_facebook, "Facebook") -%>
        <div class="input">
          <div class="input-prepend">
            <span class="add-on">http://www.facebook.com/</span>
            <%= user_form.text_field :facebook, {:maxlength => 50, :class => "span5", :placeholder=>"page"} -%>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag(:user_google, "Google+") -%>
        <div class="input">
          <div class="input-prepend">
            <span class="add-on">https://plus.google.com/</span>
            <%= user_form.text_field :google, {:maxlength => 50, :class => "span5", :placeholder=>"uniqueid/posts"} -%>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag(:user_about, "About") -%>
        <div class="input">
          <%= user_form.text_area :about, {:size => "80x12", :class => "span8"} -%>
          <span class="help-block">
            Feel free to describe your interests and expertise. 2000 characters max length.
          </span>
        </div>
      </div><!-- /clearfix -->    
    </fieldset>
       
    <fieldset class="add-top">
      <legend>Preferences</legend>
      <div class="clearfix">
        <label for="input">Notifications</label>
        <div class="input">
          TODO
        </div>
      </div><!-- /clearfix -->          
    </fieldset>
    <div class="actions">
      <input type="submit" class="btn" value="Preview">&nbsp;<input type="submit" class="btn primary half-left" value="Save">
    </div>
    </fieldset>
  <% end -%>
  </div>

  <div class="span4 well panel pull-right">
    <h2>Login Services</h2>
    <p>TODO</p>
  </div>
</div>
