<% content_for :page_title do -%>Adding Your App<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <% if user_signed_in? and (@user.id == current_user.id) -%>
  <div class="pull-right">
    <%= link_to "Edit Profile & Preferences &rarr;".html_safe, edit_user_path(@user), :class => "btn large primary" -%>
  </div>
  <% end -%>

  <h1><%= "#{@user.nickname}'s Profile" -%></h1>
</div>
<% end -%>

<div class="row">
  <div class="span7 well panel pull-left">
    <p><%= image_tag(@user.picture(50)) -%></p>
    <address>
      <strong>Apps</strong><br>
      <% @user.apps.each do |a| -%>
        <%= link_to a.name, app_path(a) -%><br>
      <% end -%>
      <br/>
      <strong>Web Site</strong><br>
      <%= link_to "http://#{@user.website}", "http://#{@user.website}" unless @user.website.blank? -%><br>
      <strong>Twitter</strong><br>
      <%= link_to "@#{@user.twitter}", "http://twitter.com/#{@user.twitter}" unless @user.twitter.blank? -%><br>
      <strong>LinkedIn</strong><br>
      <%= link_to "http://linkedin.com/pub/#{@user.linkedin}", "http://linkedin.com/pub/#{@user.linkedin}" unless @user.linkedin.blank? -%><br>
      <strong>Facebook</strong><br>
      <%= link_to "http://facebook.com/#{@user.facebook}", "http://facebook.com/#{@user.facebook}" unless @user.facebook.blank? -%><br>
      <strong>Google+</strong><br>
      <%= link_to "https://plus.google.com/#{@user.google_plus}", "http://plus.google.com/#{@user.google_plus}" unless @user.google_plus.blank? -%><br>
    </address>
  </div>

  <div class="span8 pull-right">
    <%= markdown(@user.about) unless @user.about.blank? -%>
  </div>
</div>
