<% content_for :page_title do -%>Adding Your App<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <% if @user.id == current_user.id -%>
  <div class="pull-right">
    <%= link_to "Edit Profile & Preferences &rarr;".html_safe, edit_user_path(@user), :class => "btn large primary" -%>
  </div>
  <% end -%>

  <h1><%= "#{@user.nickname}'s Profile" -%></h1>
</div>
<% end -%>

<div class="row">
  <div class="span5 well panel pull-left">
    <p><%= image_tag(@user.picture(50)) -%></p>
    <address>
      <strong>Apps</strong><br>
      <% @user.apps.each do |a| -%>
        <%= link_to a.name, app_path(a) -%><br>
      <% end -%>
      <strong>Web Site</strong><br>
      <%= @user.website -%><br>
      <strong>Twitter</strong><br>
      <%= link_to "@#{@user.twitter}", "http://twitter.com/#{@user.twitter}" unless @user.twitter.blank? -%><br>
      <strong>LinkedIn</strong><br>
      <%= @user.linkedin -%><br>
      <strong>Facebook</strong><br>
      <%= @user.facebook -%><br>
      <strong>Google+</strong><br>
      <%= @user.google -%><br>
    </address>
  </div>

  <div class="span10 pull-right">
    <%= simple_format(@user.about) -%>
  </div>
</div>
