<!-- HANDLEBARS TEMPLATES -->
<%= render partial: 'shared/handlebars/post'%>
<!-- END HANDLEBARS TEMPLATES-->

<% content_for :include_js do %>
<script type="text/javascript">
$(document).ready(function() {
	Signalike.Source.top({
		success: function (sources) {
			//get the handlebar template
			var source   = $("#_post").html();
			var template = Handlebars.compile(source);
			//sources.items is the list of sources
			//sources.total is the number of sources in the list
			var compiled = [];
			$.each(sources.items, function (idx, i) {
				compiled.push(template(i));
				// (new Signalike.Source(i.id)).fetch({
				// 	success: function (d) {
				// 		console.log(d);
				// 		
				// 	}
				// });
			});
			
			$('#latest_sources_list').html(compiled.join(''));
		}
	});
	
});
</script>
<% end %>
<div class="row">
  <div class="hero-unit panel span8 pull-left">
    <h1>Popular Apps <small><strong><a href="/apps/popular">more &rarr;</a></strong></small></h1>
	<div id="popular_container">
		<ul class="media-grid">
		<% @apps.each do |app|%>
			<li>
				<a href="/apps/<%= app.id%>">
				  <img class="thumbnail" src="http://placehold.it/210x210" alt="">
				  <h3><%= app.name %></h3>
				  5 Posts
				</a>
			</li>
		<% end %>
		</ul>
	</div>

    <h2 class="add-top half-bottom">Popular Posts <small><strong><a href="/posts/recent">more &rarr;</a></strong></small></h2>
    <div id="latest_sources_list" />
	</div>

  </div>

  <div class="span5 well panel yellow pull-right">
    <h3>Showcase + Discuss + Grow</h3>
    <ul>
      <li class="black">Add your app and talk about how you made things work.</li>
      <li class="black">Get feedback from other developers and web + mobile experts.</li>
      <li class="black">Expand your userbase!</li>
    </ul>
    <a href="/apps/new" class="btn large success">Add Your App &rarr;</a>
  </div>

  <div class="span5 well panel pull-right">  
    <h3>How Did They Do That?</h3>
    <p>
      If you're looking for information on how something was done, you've come in the right place!
    </p>
    <form action class="no-bottom">
      <div class="clearfix">
        <input class="span5" id="" name="" type="text" placeholder="Search by app name, techology, or person">
      </div>
      <a class="btn large primary">Find An App &rarr;</a>
    </form>
  </div>

  <div class="span5 well panel pull-right">
    <h2 class="half-bottom">Recent <small><a href="/posts/recent">more &rarr;</a></small></h2>
    <div id="recent_container">
	  	<ul class="media-grid">
		<% @recent.each do |app|%>
			<li>
				<a href="/apps/<%= app.id%>">
				  <img class="thumbnail" src="http://placehold.it/210x210" alt="">
				  <h3><%= app.name %></h3>
				  5 Posts
				</a>
			</li>
		<% end %>
		</ul>
	</div>
  </div>  
</div>