
  <div class="hero-unit span8 pull-left">
    <h1>Popular Apps <small><a href="/apps/popular">more &rarr;</a></small></h1>

    <ul class="media-grid">
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/210x210" alt="">
          <h3>example.com</h3>
          Added by 
          <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
          &bull; 30 Posts
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/210x210" alt="">
          <h3>anotherapp</h3>
          Added by
          <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
          &bull; 10 Posts
        </a>
      </li>
    </ul>

    <h2 class="add-top half-bottom">Recent Posts <small><a href="/posts/recent">more &rarr;</a></small></h2>

    <div class="add-bottom">
      <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
      <div class="post-summary">
        <h4><a href="/apps/1/post/1">Blog post about authentication issue</a> <small>+10 -4</small> <span class="label">link</span></h4>
        added 2 hours ago 
        <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span> 
        to example.com
      </div>
    </div>
        
    <div class="add-bottom">
      <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
      <div class="post-summary">
        <h4><a href="/apps/1/post/1">Needs a better sign-up process</a> <small>+783 -42</small> <span class="label">topic</span> <span class="label">file</span></h4>
        added 3 hours ago 
        <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Jim</span> 
        to example.com
      </div>
    </div>

    <div class="add-bottom">
      <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
      <div class="post-summary">
        <h4><a href="/apps/1/post/1">iOS versions</a> <small>+3 -0</small> <span class="label">topic</span></h4>
        added 3 hours ago 
        <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Jim</span> 
        to anotherapp
      </div>
    </div>
        
    <div class="add-bottom">
      <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
      <div class="post-summary">
        <h4><a href="/apps/1/post/1">What blog app is being used?</a> <small>+20 -0</small> <span class="label">question</span></h4>
        added 7 hours ago 
        <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span> 
        to stephenpaul.me
      </div>
    </div>

    <div class="add-bottom">
      <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
      <div class="post-summary">
        <h4><a href="/apps/1">stephenpaul.me</a> <span class="label">app</span></h4>
        added 20 hours ago 
        <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> devpopol</span>
      </div>
    </div>
  </div>

  <div class="span5 well panel pull-right">
    <h3>Showcase + Discuss + Grow</h3>
    <ul>
      <li>Add your app and talk about how you made things work.</li>
      <li>Get feedback from other developers and web + mobile experts.</li>
      <li>Expand your userbase!</li>
    </ul>
    <a class="btn large primary">Add Your App &rarr;</a>
    
    <h3 class="add-top">How Did They Do That?</h3>
    <p>
      If you're looking for information on how something was done, you've come to the right place!
    </p>
    <form action>
      <div class="clearfix">
        <input class="span5" id="" name="" type="text" placeholder="Search by app name, techology, or person">
      </div>
      <a class="btn large primary">Find An App &rarr;</a>
    </form>
  </div>
