<div class="span16 pull-left">
  <div class="span3 pull-right">
    <a class="btn large primary">Add Your App &rarr;</a>
  </div>

  <h1>Popular Apps <small>page 1 of 6 &bull; 65 total</small></h1>

  <ul class="media-grid">
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>nextbigthingapp</h3>
        Added by
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
        &bull; 120 Posts
      </a>
    </li>  
    <li>
      <a href="/apps/1-example-com">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>example.com</h3>
        Added by 
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
        &bull; 30 Posts
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>windowsapp</h3>
        Added by
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
        &bull; 29 Posts
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>iosapp</h3>
        Added by
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
        &bull; 19 Posts
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>androidapp</h3>
        Added by
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
        &bull; 12 Posts
      </a>
    </li>    
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>anotherapp</h3>
        Added by
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
        &bull; 10 Posts
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>stephenpaul.me</h3>
        Added by
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> devpopol</span>
        &bull; 8 Posts
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>somesite.com</h3>
        Added by
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
        &bull; 3 Posts
      </a>
    </li>
  </ul>
  <div class="pagination">
    <ul>
      <li class="prev disabled"><a href="#">&larr; Previous</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
  </div>    
</div>
