<% content_for :page_title do -%>Recent Apps<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right">
    <a href="/apps/new" class="btn btn-large btn-success">Add Your App &rarr;</a>
  </div>

  <h1>Recent Apps <%= "<small>page #{@apps.current_page} of #{@apps.num_pages} &bull; #{pluralize(@apps.total_count, 'app')}</small>".html_safe if @apps.num_pages > 0 -%></h1>
</div>
<% end -%>

<ul class="nav nav-pills">
  <li<%= " class=""active""" if params[:days].blank? -%>><a href="/apps/recent">30 days</a></li>
  <li<%= " class=""active""" if params[:days] == "60" -%>><a href="/apps/recent?days=60">60 days</a></li>
  <li<%= " class=""active""" if params[:days] == "90" -%>><a href="/apps/recent?days=90">90 days</a></li>
</ul>

<ul class="thumbnails">
  <% @apps.each do |app| -%>
    <%= render :partial => 'card', 
               :locals => { :app => app } -%>
  <% end -%>
<!-- <li>
    <a href="#">
      <img class="thumbnail" src="http://placehold.it/210x210" alt="">
      <h3>iosapp</h3>
      19 Posts &bull; 
      <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
    </a>
  </li> -->
</ul>
<% if @apps.num_pages > 1 -%>
  <%= paginate @apps -%>
<% end -%>