<% content_for :page_title do -%>Recent Apps<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right">
    <a href="/apps/new" class="btn large success">Add Your App &rarr;</a>
  </div>

  <h1>Recent Apps <small>page 1 of 1 &bull; 6 apps</small></h1>
</div>
<% end -%>

<div class="span16 pull-left">
  <ul class="pills">
    <li class="active"><a href="#">7 days</a></li>
    <li><a href="#">2 weeks</a></li>
    <li><a href="#">30 days</a></li>
  </ul>

  <ul class="media-grid">
    <li>
      <a href="/apps/1-example-com">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>example.com</h3>
        30 Posts &bull; 
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>anotherapp</h3>
        10 Posts &bull; 
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>stephenpaul.me</h3>
        8 Posts &bull; 
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> devpopol</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>nextbigthingapp</h3>
        120 Posts &bull; 
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>windowsapp</h3>
        29 Posts &bull; 
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
        <h3>iosapp</h3>
        19 Posts &bull; 
        <span class="nowrap"><%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span>
      </a>
    </li>
  </ul>
  <div class="pagination">
    <ul>
      <li class="prev disabled"><a href="#">&larr; Previous</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="next disabled"><a href="#">Next &rarr;</a></li>
    </ul>
  </div>    
</div>
