<% content_for :page_title do -%>example.com<% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right">
    <a class="btn large primary">Edit &rarr;</a>
  </div>

  <h1>example.com 
    <small>Web &bull; iOS &bull; Windows &bull; OS X</small>
    <span class="label warning">unverified</span>
  </h1>
</div>
<% end -%>

<div class="span7 pull-left well panel">
  <ul class="media-grid">
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/105x105" alt="">
      </a>
    </li>  
    <li>
      <a href="/apps/1-example-com">
        <img class="thumbnail" src="http://placehold.it/105x105" alt="">
      </a>
    </li>
    <li>
      <a href="/apps/1-example-com">
        <img class="thumbnail" src="http://placehold.it/105x105" alt="">
      </a>
    </li>    
  </ul>
  <p><em>Updated 3 days ago by Tess</em></p>  
  <h3>About</h3>
  <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad.</p>
  <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad. <a href="">more &dArr;</a></p>
  <h3>Technical Info</h3>
  <p>Lorem ipsum dolor sit amet, pri quot fuisset mnesarchum ea. Cum odio inciderint no, eu putant verear sit, qui posse eripuit no. Fugit appetere his an. Delectus insolens at quo, mei invidunt adipisci temporibus ad. <a href="">more &dArr;</a></p>
  <h3>Thanks To</h3>
  <p>Pri omnes denique cu, modus graeci eu pri. Ne suas esse atqui mei, inimicus pertinacia dissentiunt ut has. His et equidem senserit. Cu blandit reprimique est, nam an liber neglegentur. Alii option ocurreret eu sit, vix suas homero aeterno ad. <a href="">more &dArr;</a></p>
  <h3>Links</h3>
  <address>
    <strong>Web Site</strong><br>
    <a href="">http://www.example.com/</a><br>
    <strong>Twitter</strong><br>
    <a href="">@example</a><br>
    <strong>Facebook</strong><br>
    <a href="">http://www.facebook.com/example</a><br>
    <strong>Google+</strong><br>
    <a href="">http://plus.google.com/...</a><br>
    <strong>iTunes App Store</strong><br>
    <a href="">http://itunes.apple.com/...</a>
  </address>
  <h3>Other Documents</h3>
  <ul>
    <li><a href="">Architecture Overview.pptx</a></li>
    <li><a href="">Conference Presentation.pptx</a></li>
  </ul>
</div>

<div class="span8 pull-right">
  <div class="pull-right">
    <a href="#" class="btn small primary">Add Post</a>
  </div>
  
  <h2>Posts <small>page 1 of 3 &bull; 30 posts</small></h2>
  <ul class="pills">
    <li class="active"><a href="#">All</a></li>
    <li><a href="#">Files</a></li>
    <li><a href="#">Links</a></li>
    <li><a href="#">Questions</a></li>
  </ul>  

  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">Blog post about authentication issue</a> <small>+10 -4</small> <span class="label">link</span></h4>
      2 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span> 
      &bull; 3 responses
    </div>
  </div>
      
  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">Needs a better sign-up process</a> <small>+783 -42</small> <span class="label">topic</span> <span class="label">file</span></h4>
      3 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Jim</span> 
      &bull; 129 responses
    </div>
  </div>

  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">iOS versions</a> <small>+3 -0</small> <span class="label">topic</span></h4>
      3 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Jim</span> 
      &bull; 1 response
    </div>
  </div>
      
  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">What blog app is being used?</a> <small>+20 -0</small> <span class="label">question</span></h4>
      7 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span> 
      &bull; 0 responses
    </div>
  </div>

  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1">This is a very long post title that seems to keep going and going...</a> <small>+3 -0</small> <span class="label">topic</span> <span class="label">file</span> <span class="label">link</span></h4>
      20 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> devpopol</span> 
      &bull; 5 responses
    </div>
  </div>

  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">Blog post about authentication issue</a> <small>+10 -4</small> <span class="label">link</span></h4>
      2 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span> 
      &bull; 3 responses
    </div>
  </div>
      
  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">Needs a better sign-up process</a> <small>+783 -42</small> <span class="label">topic</span> <span class="label">file</span></h4>
      3 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Jim</span> 
      &bull; 129 responses
    </div>
  </div>

  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">iOS versions</a> <small>+3 -0</small> <span class="label">topic</span></h4>
      3 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Jim</span> 
      &bull; 1 response
    </div>
  </div>
      
  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1/post/1">What blog app is being used?</a> <small>+20 -0</small> <span class="label">question</span></h4>
      7 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> Tess</span> 
      &bull; 0 responses
    </div>
  </div>

  <div class="add-bottom">
    <div class="pull-left"><img src="http://placehold.it/36x36" alt=""></div>
    <div class="post-summary">
      <h4><a href="/apps/1">This is a very long post title that seems to keep going and going...</a> <small>+3 -0</small> <span class="label">topic</span> <span class="label">file</span> <span class="label">link</span></h4>
      20 hours ago 
      <span class="nowrap">by <%= image_tag("http://placehold.it/10x10", :class=>"inline") -%> devpopol</span> 
      &bull; 5 responses
    </div>
  </div>

  <div class="pagination">
    <ul>
      <li class="prev disabled"><a href="#">&larr; Previous</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
  </div>   
</div>

