<% content_for :page_title do -%><%= @app.name%><% end -%>
<% content_for :content_header do -%>
<div class="page-header">
  <div class="pull-right">
    <%= link_to("Edit &rarr;".html_safe, edit_app_path(@app), :class => "btn btn-large btn-primary") if user_signed_in? and (@app.user.id == current_user.id) -%>
  </div>

  <h1><%= @app.name%>
    <small><%= @platforms.map(&:name).join(' &bull; ').html_safe%></small>
    <!-- <span class="label warning">unverified</span> -->
  </h1>
</div>
<% end -%>

<% content_for :include_js do %>
<script type="text/javascript">
$(document).ready(function() {
	Signalike.Source.top({
		dimension: <%= @app.id %>,
		success: function (sources) {
			var source   = $("#_post").html();
			var template = Handlebars.compile(source);
			//sources.items is the list of sources
			//sources.total is the number of sources in the list
			var compiled = [];
			var limit = 20;
			var i;
			var data = [];
			var user_ids = [];
			limit = Math.min(limit,sources.items.length);
			for(var x = 0; x < limit; x++) {
				i = sources.items[x];
				user_ids.push(i.user_id);
				data.push(i);
			}
			if (data.length > 0) {
				Users.getLabels(user_ids, function (user_data) {
					$.each(data, function (idx, i) {
						i.username = user_data[i["user_id"]]["username"];
            i.picture_small = user_data[i["user_id"]]["picture_small"];
						compiled.push(template(i))
					});
					$('#sources').html(compiled.join(''));

					//console.log(sources);
					//console.log($("#pagination"))
					$("#pagination").html('<ul><li class="prev disabled"><a href="#">&larr; Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li class="next"><a href="#">Next &rarr;</a></li></ul>');
				});
			}
			else {
				$('#sources').html("No posts yet!");
			}
			
			//get the handlebar template
			//source   = $("#_post").html();
			//template = Handlebars.compile(source);
			////sources.items is the list of sources
			////sources.total is the number of sources in the list
			//compiled = [];
			//$.each(sources.items, function (idx, i) {
			//	compiled.push(template(i));
			//});
			  
			//$('#latest_sources_list').html(compiled.join(''));
		}
	});
	
	var f = $('#newsource');
	
	f.submit(function () {
		var url = f.attr('action');
		var data = f.serialize();
		console.log(url);
		console.log(data);
		$.ajax({
		    type: 'POST',
			url: url,
			data: data,
			success: function (object) {{
				console.log(object)
				if (object.success) {
					window.location.reload();
				}
				else {
					$('#errors').html(object.errors.join("<br />"));
					$('#errors-container').attr("style", "visibility: visible");
				}
			}},
			dataType: 'json'
		})
		return false;
	});
	
	$('#newsource-save').click(function () {
		f.submit();
	});
	
});
</script>
<% end -%>
<script id="_post" type="text/x-handlebars-template">
  <div class="add-bottom">
  <div class="pull-left"><img src="{{picture_small}}" class="inline"></div>
  <div class="post-summary">
    <h4><a href="/apps/<%= @app.id%>/posts/{{id}}">{{title}}</a> <small>at {{domain}} +{{up}} -{{down}}</small> <span class="label"><a href="{{url}}">link</a></span></h4>
    <span class="nowrap">{{username}}</span> 
    &bull; {{created_at}} 
    &bull; {{comments}} responses
  </div>
</div>
</script>


<div class="row">
  <div class="span6">
    <h2>About</h2>
    <p><em>Updated <%= time_ago_in_words(@app.updated_at) %> ago by <%= link_to @app.updater, user_path(@app.updater) -%></em></p>
    <% if @app.images.size > 0 -%>
      <ul class="thumbnails">
        <% @app.images.each do |image| -%>
        <li>
          <div class="thumbnail">
            <a href="#">
              <img src="<%= image.file.thumb.url -%>" alt="<%= image.description -%>" width="130" height="105">
            </a>
          </div>
        </li>
        <% end -%>
      </ul>
    <% end -%>
    <p><%= markdown(@app.about) -%></p>

    <h3>Links</h3>
    <address>
  	<% if @app.website.presence -%>
      <strong>Web Site</strong><br>
  	  <a href="http://<%= @app.website -%>">http://<%= @app.website %></a><br>
    <% end -%>
  	<% if @app.twitter.presence -%>
      <strong>Twitter</strong><br>
      <a href="http://twitter.com/<%= @app.twitter -%>">@<%= @app.twitter%></a><br>
    <% end -%>
    <% if @app.facebook.presence -%>
      <strong>Facebook</strong><br>
      <a href="http://facebook.com/<%= @app.facebook -%>">http://facebook.com/<%= @app.facebook -%></a><br>
    <% end -%>
    <% if @app.google_plus.presence -%>
      <strong>Google+</strong><br>
      <a href="http://plus.google.com/<%= @app.google_plus -%>">http://plus.google.com/<%= @app.facebook -%></a><br>
    <% end -%>
    <% if @app.itunes.presence -%>
      <strong>iTunes App Store</strong><br>
      <a href="http://itunes.apple.com/<%= @app.itunes -%>">http://itunes.apple.com/<%= @app.itunes -%></a>
    <% end -%>
    <% if @app.android.presence -%>
      <strong>Android Market</strong><br>
      <a href="https://market.android.com/<%= @app.android -%>">https://market.android.com/<%= @app.android -%></a>
    <% end -%>
    </address>
  </div>

  <div class="span6">
    <div class="pull-right">
    <% if user_signed_in? -%>
      <a href="#" data-controls-modal="modal-add-post" data-backdrop="static" class="btn btn-small btn-primary">Add Post</a>
    <% else -%>
      <a href="/signin" class="btn btn-small btn-success">Login to Post</a>
    <% end -%>
    </div>
    
    <h2>Posts <small>page 1 of 3 &bull; 30 posts</small></h2>
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Popular</a></li>
      <li><a href="#">Recent</a></li>
      <li><a href="#">Files</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="#">Questions</a></li>
    </ul>  
    <div id="sources">
  	Loading...
    </div>

    <div id="pagination" class="pagination">
    </div>
  </div>
</div>

<div id="modal-add-post" class="modal hide fade" style="display: none; ">
  <div class="modal-header">
    <a href="#" data-dismiss="modal" class="close">×</a>
    <h3>Add Post</h3>
  </div>
  <div class="modal-body">
	<%= form_tag app_posts_path(@app.id, :format => :json), :method => :post, :id =>"newsource" do %>
      <fieldset>
      	<div id="errors-container" class="clearfix" style="visibility: hidden;">
        	<div id="errors" class="input">
          </div>     
        </div>
        <div class="control-group">
          <label for="" class="control-label">Title *</label>
          <div class="controls">
      			<%= text_field_tag "source[title]", nil, :id => "xlInput", :size => "30", :class => "span5", :placeholder => ""%>
          </div>
        </div>
        <div class="control-group">
          <label for="" class="control-label">Link</label>
          <div class="controls">
      			<%= text_field_tag "source[url]", nil, :id => "prependedInput", :size => "16", :class => "span5",:placeholder =>""%>
          </div>
        </div>        
        <div class="control-group">
          <label for="" class="control-label">File</label>
          <div class="controls">
            <input class="input-file" id="fileInput" name="fileInput" type="file">
          </div>
        </div>        
        <div class="control-group">
          <label for="textarea" class="control-label">Text</label>
          <div class="controls">
      			<%= text_area_tag "source[text]", nil, :id => "textarea2", :rows => "5", :class => "span5"%>
          </div>
        </div>        
      </fieldset>
    <% end -%>
  </div>
  <div class="modal-footer">
    <a href="#" id="newsource-save" class="btn btn-primary">Save</a>
  </div>
</div>

