<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title><%= yield :page_title -%> : <%=t(:site_name)-%></title>
  <meta name="description" content="<%=t(:site_description)-%>">
  <meta name="author" content="<%=t(:site_author)-%>">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  
  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

  <!-- CSRF Meta Tags
  ================================================== -->  
  <%= csrf_meta_tags %>
  
  <%= yield :include_head -%>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%=t(:site_name)-%></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/apps/popular">Popular</a></li>
          <li><a href="/apps/recent">Recent</a></li>
          <li><a href="/apps/">Browse</a></li>        
          <li><a href="/posts">Posts</a></li>  
        </ul>
        <form class="pull-left navbar-search" action="">
          <input class="span3 search-query" type="text" placeholder="Search">
        </form>
      </div>
      <% if user_signed_in? -%>
      <ul class="nav pull-right">
        <li>
          <%# FIXME Fix user score -%>
          <%= link_to image_tag("#{current_user.picture(10)}") + " #{current_user.nickname} | 1 pt".html_safe, main_app.user_path(current_user), style: "display:inline-block;" -%>
        </li>
      </ul>
      <% else -%>
      <ul class="nav pull-right">
        <li>
          <%= link_to "Login With", "/signin", style: "display:inline-block;padding-top:0px;" -%> 
          <a href="/auth/facebook" title="Facebook" style="display:inline-block;"><%= image_tag('facebook_32.png', height:"22", width:"22", style:"vertical-align:sub;") -%></a> 
          <a href="/auth/google" title="Google" style="display:inline-block;"><%= image_tag('google_32.png', height:"22", width:"22", style:"vertical-align:sub;") -%></a> 
          <a href="/auth/yahoo" title="Yahoo!" style="display:inline-block;"><%= image_tag('yahoo_32.png', height:"22", width:"22", style:"vertical-align:sub;") -%></a>
        </li>
      </ul>
      <% end -%>
    </div>
  </div>
</div>

<header>
  <div class="container">
    <%= yield :content_header %>
  </div>
</header>

<div id="content" class="container">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h6><strong>InThisApp.com</strong></h6>
        <p>
          <a href="/home/about">About This Site</a> &bull; 
          <a href="/home/terms_of_service">Terms Of Service</a>
        </p>      
      </div>
      <div class="span4 pull-right">
        <h6><strong>Share</strong></h6>      
        <p>
          <a href="">StumbleUpon</a> &bull; 
          <a href="">Facebook</a> &bull; 
          <a href="">Twitter</a> &bull; 
          <a href="">Google+</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- JS ================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
<%= javascript_include_tag "application" -%>
<%= yield :include_js -%>

<!-- End Document
================================================== -->
</body>
</html>
