<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title><%= yield :page_title -%> : <%=t(:site_name)-%></title>
  <meta name="description" content="<%=t(:site_description)-%>">
  <meta name="author" content="<%=t(:site_author)-%>">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  
  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

  <!-- CSRF Meta Tags
  ================================================== -->  
  <%= csrf_meta_tags %>
  
  <%= yield :include_head -%>
</head>
<body>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/"><%=t(:site_name)-%></a>
      <ul class="nav">
        <li><a href="/apps/popular">Popular</a></li>
        <li><a href="/apps/recent">Recent</a></li>
        <li><a href="/apps/">Browse</a></li>        
        <li><a href="/posts/recent">Posts</a></li>  
      </ul>
      <form class="pull-left" action="">
        <input class="span3" type="text" placeholder="Search">
      </form>
      <% if user_signed_in? -%>
      <p class="pull-right">
      <%= link_to image_tag("#{current_user.picture(10)}"), 
          main_app.user_path(current_user) -%>
      <%= link_to "#{current_user.nickname} | #{current_user.email} | 1 pt", main_app.user_path(current_user) -%>
      </p>
      <% else -%>
      <p class="pull-right">
        <%= link_to "Login With", "/signin" -%> 
        <a href="/auth/facebook" title="Facebook"><%= image_tag('facebook_32.png', :height=>"22", :width=>"22", :style=>"vertical-align:sub;") -%></a> 
        <a href="/auth/google" title="Google"><%= image_tag('google_32.png', :height=>"22", :width=>"22", :style=>"vertical-align:sub;") -%></a> 
        <a href="/auth/yahoo" title="Yahoo!"><%= image_tag('yahoo_32.png', :height=>"22", :width=>"22", :style=>"vertical-align:sub;") -%></a>
      </p>
      <% end -%>
    </div>
  </div>
</div>

<header>
  <div class="container">
    <%= yield :content_header %>
  </div>
</header>

<div id="content" class="container">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span14">
        <h6><strong>Brought to you by ...</strong></h6>
        <p>
          <a href="/home/about">About This Site</a><br/>
          <a href="/home/terms_of_service">Terms Of service</a>
        </p>      
      </div>
      <div class="span2">
        <h6><strong>Share</strong></h6>      
        <p>
          <a href="">StumbleUpon</a><br/>        
          <a href="">Facebook</a><br/>
          <a href="">Twitter</a><br/>
          <a href="">Google+</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- JS ================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
<%= javascript_include_tag "application" -%>
<%= yield :include_js -%>

<!-- End Document
================================================== -->
</body>
</html>
